{% extends 'core/base.html' %}

{% block content %}
<h2>1395 candidatos de todo el país tuvieron sentencia penal y/o civil</h2>

<p>
  Un análisis rápido de las hojas de vida nos permitió encontrar que
  casi 1400 candidatos tenían sentencias por diversos motivos:
  <ul>
    <li>alimentos</li>
    <li>peculado</li>
    <li>omisión de asistencia familiar</li>
    <li>estafa</li>
    <li>homicido</li>
    <li>etc</li>
  </ul>
</p>

<p>
  Además, muchos candidatos tenían sentencias pero no precisaron de qué tipo o causa:
</p>

<iframe width="100%" height="560" src="//jsfiddle.net/ernestocabralm/k3K2x/embedded/result"
        allowfullscreen="allowfullscreen" frameborder="0"></iframe>
{% endblock content %}
