{% extends 'core/base.html' %}

{% block content %}
<h2>Las 20 agrupaciones políticas con mayor cantidad de candidatos con sentencias</h2>

<p>
  Comparando la informacion declarada en las hojas de vida de los candidatos con el archivo que
  lista a los candidatos y sus agrupaciones políticas se obtuvo lo siguiente:
</p>

<p>
	El partido de César Acuña "Alianza para el Progreso" lidera el Top 20 con más de 100 sentenciados.
  Le siguen Fuerza Popular (61), Somos Perú (54), Acción Popular (50), el Apra (26), el PPC (25),
  el Partido Humanista Peruano (22), Solidaridad Nacional (26), Vamos Perú (19) y Perú Posible (19).
</p>

<iframe width="100%" height="600" src="//jsfiddle.net/ernestocabralm/Xh7kL/embedded/result"
        allowfullscreen="allowfullscreen" frameborder="0"></iframe>
{% endblock content %}
