{% extends 'core/base.html' %}

{% block content %}
<h1>El proyecto Ventanita</h1>

<p>
  En el año 2014, el blog <a href="http://utero.pe">Utero.pe</a> trabajó en colaboración con la Asociación
  Civil Transparencia para examinar y evaluar las hojas de vida de los más de 116 mil candidatos
  que se presentaron a las Elecciones Regionales y Municipales 2014.
</p>

<p>
  Este proyecto <b>Ventanita</b> intenta ser una versión mejorada. Se descargarán diversas bases de
  datos del Estado peruano, se limpiarán y normalizarán los datos y se generarán cuadros estadísticos
  y gráficos que se espera sirva para que los votantes evalúen la idoneidad de sus candidatos y
  realicen un voto informado.
</p>

<h2>Aquí algunos resultados:</h2>

<ul>
  <li>
    <a href="1400_candidatos/">1400 candidatos</a> en todo el Perú tienen sentencias penales y
    civiles.
  </li>
</ul>
<ul>
  <li>
    <a href="20_agrupaciones/">Las 20 agrupaciones</a> políticas con más candidatos sentenciados.
  </li>
</ul>


{% endblock content %}
