{% extends 'core/base.html' %}

{% block content %}
<h2>Sentenciados por tráfico ilícito de drogas en las Elecciones Regionales y Municipales 2014.</h2>

<ol>
  <b><li>Martha Mejía Leiva</li></b>
  <d>Postulante a regidora distrital  – por la organización Pasco Dignidad. Indultada en el 2009 por el ex presidente Alan García. Pena conmutada de 12 años a 10 años 05 meses.</d>
  <b><li>Alejandro Soliz</li></b>
  <d>Candidato a alcalde distrital de Singa (Huánuco) por el partido Somos Perú. Indultado en el 2006 por el ex presidente Alejandro Toledo. Pena conmutada de 15 a 14 años.</d>
  <b><li>Mauro Gomez </li></b>
  <d>Postula a la alcaldía provincial de Vilcashuaman (Ayacucho) por el Apra. Sentenciado en 1994.</d>
  <b><li>Jesús Velazque</li></b>
  <d>Postula como regidor distrital de Iguaín (Ayacucho) por Alianza para el Progreso. Sentenciado en 2007.</d>
  <b><li>Julio Cesar Díaz</li></b>
  <d>Postula como alcalde distrital de Cochorco (La Libertad) por Alianza para el Progreso. Sentenciado en 1997</d>
  <b><li>Felix Cuevas </li></b>
  <d>Postula como regidor distrital de San Juan de Salinas (Puno) con el partido Unión por el Perú. Sentenciado en 2003.</d>
  <b><li>Edgar Bastidas Calderon</li></b>
  <d>Postula con el Movimiento Integración Descentralista a la alcaldía distrital de Codo del Pozuzo (Huánuco). Sentenciado en 2006 a 7 años.</d>
  <b><li>Miguel Diaz Lopez</li></b>
  <d>Postula con el Movimiento Político Regional UNIPOL a la alcaldía distrital de Putumayo (Loreto). Sentenciado en 1995.</d>
  <b><li>José Morales Madera</li></b>
  <d>Candidato a la alcaldía distrital de Mariano Damaso Beraun (Huánuco) con el Movimiento Político Frente Amplio Regional Paisanocuna. Sentenciado en 2011.</d>
  <b><li>Justiniano Vilca Quispe</li></b>
  <d>Con la agrupación Moral y Desarrollo, postula a la alcaldía distrital de Tilali (Puno). Sentenciado en 2008.</d> 
  <b><li>Nerio Ore Riveros</li></b>
  <d>Postula con la Alianza Renace Ayacucho a la alcaldía distrital de Sivia (Ayacucho). Sentenciado en 2005 a 9 años.</d> 
  <b><li>Josafat Durand Garay</li></b>
  <d>Candidato a la alcaldía distrital de Luyando (Huánuco) por el movimiento regional Cuenta Conmigo. Sentenciado en 1980.</d> 
  <b><li>Fermin Sanchez Ramirez</li></b>
  <d>Postula a alcaldía distrital de Condormarca (La Libertad) con la agrupación Democracia Directa. No precisó su condena.</d> 
</ol>

<iframe width="100%" height="560" src="//jsfiddle.net/ernestocabralm/k3K2x/embedded/result"
        allowfullscreen="allowfullscreen" frameborder="0"></iframe>
{% endblock content %}

</body>
</html>
 

