{% extends 'core/base.html' %}

{% block content %}
  <h1>Lista de Entidades Públicas - Información Candidatos</h1>

  <div class="col-sm-5">
    <ul class="list-group">
      <li class="list-group-item">Redam (sentencia por alimentos)</li>
      <li class="list-group-item">Deudores del Estado</li>
      <li class="list-group-item">SAT</li>
      <li class="list-group-item">Reniec (golondrinos)</li>
      <li class="list-group-item">
        SUNARP es complicado por el hecho que hay que pagar, pero el buscador
        de CONSULTA RUC de SUNAT sí reporta deudas coactivas y omisiones tributarias
        <a href="http://ww1.sunat.gob.pe/cl-ti-itmrconsruc/jcrS00Alias">link.</a>
      </li>
      <li class="list-group-item">
        Otro que puede servir es el buscador de Contraloría de Obras Públicas
        contratadas: <a href="https://apps.contraloria.gob.pe/ciudadano/">link.</a>
      </li>
    </ul>
  </div>
{% endblock content %}
